* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

header {
  background-color: #fff;
  border-bottom: 2px solid #cccccc;
}
.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
  background-color: #ffffff;
}
.logo {
  height: inherit;
  cursor: pointer;
  background-color: #4aaaa5;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: auto;
  padding: 24px 24px;
  font-family: "Times New Roman", sans-serif;
}

.nav-links {
  padding: 24px 24px;
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: #777777;
  transition: all 0.3 ease 0s;
}

.nav-links li a:hover {
  color: #4aaaa5;
}

.content {
  background-color: #f2f2f2;
  width: 100%;
  padding: 20px 0 20px 0;
}
.about {
  padding: 24px 24px;
  flex-basis: 100%;
  color: #4aaaa5;
  border-bottom: 2px solid #dddddd;
  font-family: "Times New Roman", sans-serif;
}

.container .me {
  margin: 30px 10px;
  flex: 1;
  object-fit: contain;
}

p {
  flex: 3;
  padding: 10px;
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 7%;
  line-height: 1.5;
  color: #777777;
}
footer {
  background-color: #666666;
  flex-basis: 100%;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  border-top: 8px solid #4aaaa5;
}
