* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}
.frame img {
  width: 100%;
  border: 1px solid #dddddd;
  display: block;
}

.frame {
  position: relative;
  margin: 1.66%;
  margin-bottom: 40px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.5rem;
  right: 0;
  bottom: 40px;
  left: 0;
  height: 40px;
  background-color: #4aaaa5;
  color: #dddddd;
}
.label a {
  text-decoration: none;
  color: white;
}
